header{
	width: 100%;
	height: 60px;
	background-color: #000000;
	background: rgba(0,0,0,0.7);
}
header img{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

body h2{
	font-size: 35px;
}

ul{
	width: auto;
	float: right;
	margin-top: 10px;
}

li{
	display: inline-block;
	padding: 10px 15px;
}
nav a{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}
nav a:hover{
	color: #00ffbf;
	text-decoration: overline;
	transition: 0.3s;
}
header{
	position: fixed;
}
main{
	padding: 0px 100px;

}
.wrapper{
	display: grid;
	grid-template-columns: 1.2fr 1.2fr 0.3fr;
	grid-gap: 40px;
	padding-left: 40px;
}
.card{
	margin: 8px;
	border-radius: 16px;
	box-shadow: 1px 8px 16px 1px #8a8a8ac2;
}
.card:hover{
	box-shadow: 4px 10px 20px 1px #00ffbfc2;
}
.card img{
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
}
.wrapper a{
	text-decoration: none;
	color: #000000;
}
.cardbody{
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 5px;
}