body{
	background-color: #d5d5d5;
}
h1{
	font-size: 30px;
	color: #00ffbf;
}
h2{
	font-size: 20px;
	color: #00bfff;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: #f39200;
}

h1 span{
	color: #1475bb;
}